.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 10px;
  background-color: var(--c-grey);
  color: var(--c-black);
  &:not(:last-child) {
    border-bottom: 1px solid var(--c-black);
  }

  &__actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__due {
    flex-basis: 100%;
    &_over {
      color: tomato;
    }
  }
}